<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>畅销排行</title>
    <link href="/favicon.ico" rel="icon" sizes="32x32" type="image/png">
    <link href="/bootstrap.min.css"
          rel="stylesheet">
    <link href="/bootstrap-icons.css" rel="stylesheet">
    <link href="/bootstrap-table.min.css" rel="stylesheet">
    <link href="/bootstrap-table-jumpto.css" rel="stylesheet">
    <link href="/bootstrap-select.min.css" rel="stylesheet">
    <style>
        .bootstrap-table .fixed-table-toolbar .bs-bars, .bootstrap-table .fixed-table-toolbar .columns, .bootstrap-table .fixed-table-toolbar .search {
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 94%;
        }
    </style>
</head>
<body>
<div>
    <form id="marketableForm">
        <div class="input-group" id="marketableParam">
            <select class="form-control" id="worldName">
                <option value="摩杜纳">摩杜纳</option>
                <option value="旅人栈桥">旅人栈桥</option>
                <option value="琥珀原">琥珀原</option>
                <!--            <option value="雪松原">雪松原</option>-->
                <option value="拉诺西亚">拉诺西亚</option>
                <option value="紫水栈桥">紫水栈桥</option>
                <option value="延夏">延夏</option>
                <option value="神意之地">神意之地</option>
                <option value="红玉海">红玉海</option>
                <!--            <option value="月牙湾">月牙湾</option>-->
                <option value="柔风海湾">柔风海湾</option>
                <option value="银泪湖">银泪湖</option>
                <option value="伊修加德">伊修加德</option>
                <option value="梦羽宝境">梦羽宝境</option>
                <option value="红茶川">红茶川</option>
                <option value="太阳海岸">太阳海岸</option>
                <option value="宇宙和音">宇宙和音</option>
                <option value="幻影群岛">幻影群岛</option>
                <option value="白银乡">白银乡</option>
                <option value="晨曦王座">晨曦王座</option>
                <option value="海猫茶屋">海猫茶屋</option>
                <option value="沃仙曦染">沃仙曦染</option>
                <!--            <option value="黄金谷">黄金谷</option>-->
                <option value="水晶塔">水晶塔</option>
                <option value="萌芽池">萌芽池</option>
                <option value="白金幻象">白金幻象</option>
                <option value="拂晓之间">拂晓之间</option>
                <option value="神拳痕">神拳痕</option>
                <option value="龙巢神殿">龙巢神殿</option>
                <option value="静语庄园">静语庄园</option>
                <option value="潮风亭">潮风亭</option>
                <option value="陆行鸟">陆行鸟</option>
                <option value="猫小胖">猫小胖</option>
                <option value="莫古力">莫古力</option>
                <option value="豆豆柴">豆豆柴</option>
                <option selected value="中国">中国</option>
            </select>
            <select class="form-control" id="timeScale">
                <option value="8">统计8小时</option>
                <option selected value="24">统计24小时</option>
                <option value="72">统计3天</option>
                <option value="168">统计7天</option>
                <option value="360">统计15天</option>
                <option value="720">统计30天</option>
            </select>
            <select class="selectpicker" id="itemType" multiple title="选择物品类别">
            </select>
            <input class="form-control" id="min" min="0" placeholder="低价" type="number" value="">
            <input class="form-control" id="max" placeholder="高价" type="number" value="">
            <button class="btn btn-primary mx-1" onclick="filterMarketable()" type="button">查询</button>
            <button class="btn btn-primary mx-1" onclick="resetMarketable()" type="button">重置</button>
            <input class="form-control" id="search" placeholder="模糊过滤" type="text" value="">
            <select class="form-control mx-1" id="sortType">
                <option selected value="1">按交易次数排序</option>
                <option value="2">按售出总数排序</option>
            </select>
            <button class="btn btn-primary" onclick="openUpdateTimeTable()" type="button">统计更新情况</button>
        </div>
    </form>
    <table data-show-columns="true" data-show-columns-toggle-all="true" id="marketableTable"></table>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">更新时间一览</h4>
            </div>
            <div class="modal-body">
                <table id="updateTimeTable"></table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="closeUpdateTimeTable()" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="/jquery.min.js"></script>
<script src="/bootstrap.bundle.min.js"></script>
<script src="/bootstrap-table.min.js"></script>
<script src="/bootstrap-table-zh-CN.min.js"></script>
<script src="/bootstrap-table-jumpto.js"></script>
<script src="/bootstrap-select.min.js"></script>
<script src="/base64.js"></script>
<script src="/itemType.js"></script>
<script src="/marketable.js"></script>
</body>
</html>